[repo-backports-update]
name=Update repository of openSUSE Backports
enabled={{ repo_backports_update_enabled }}
autorefresh=1
baseurl=http://download.opensuse.org/update/leap/{{ releasever }}/backports/
path=/
type=rpm-md
keeppackages=0
