[repo-non-oss]
name=Non-OSS Repository
enabled={{ repo_non_oss_enabled }}
autorefresh=1
baseurl=http://download.opensuse.org/distribution/leap/{{ releasever }}/repo/non-oss/
type=rpm-md
keeppackages=0
