[repo-debug-non-oss]
name=Debug Repository (Non-OSS)
enabled={{ repo_debug_non_oss_enabled }}
autorefresh=1
baseurl=http://download.opensuse.org/debug/distribution/leap/{{ releasever }}/repo/non-oss/
keeppackages=0
