[repo-update-non-oss]
name=Update Repository (Non-Oss)
enabled={{ repo_update_non_oss_enabled }}
autorefresh=1
baseurl=http://download.opensuse.org/update/leap/{{ releasever }}/non-oss/
type=rpm-md
keeppackages=0
